@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: var(--font-clash), "Inter", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-clash), sans-serif;
    font-weight: 400;
  }
}

:root {
  --west-bg: #F1ECDC;
  --west-bg-secondary: #1F473E;
  --max-width: 1440px;
  --padding-mobile: 16px;
  --padding-tablet: 24px;
}

body {
  background-color: var(--west-bg);
  color: var(--west-bg-secondary);
}

.h1 { font-size: 120px; letter-spacing: -0.02em; }
.h2 { font-size: 80px; }
.h3 { font-size: 64px; }
.h4 { font-size: 40px; }
.h5 { font-size: 32px; }

.body-big { font-size: 28px; }
.body-medium { font-size: 24px; }
.body-regular { font-size: 20px; }

.btn-regular {
  @apply  justify-center items-center px-6 h-12  rounded-full gap-4 uppercase;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--west-bg-secondary);
  color: var(--west-bg);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--padding-mobile);
}

@media (min-width: 640px) {
  .container {
    padding-inline: var(--padding-tablet);
  }
}

@layer utilities {
  .bg-bottom-overlay {
    background-image: linear-gradient(
      to bottom,
      rgba(31, 71, 62, 0) 0%,
      rgba(31, 71, 62, 0.4) 40%,
      rgba(31, 71, 62, 0.8) 70%,
      rgba(31, 71, 62, 1) 100%
    );
  }

  .bg-half-split {
    background: linear-gradient(
      to bottom,
      var(--west-bg-secondary) 0%,
      var(--west-bg-secondary) 50%,
      var(--west-bg) 50%,
      var(--west-bg) 100%
    );
  }
}

.underline-slide {
  position: relative;
  width: fit-content;
}

.underline-slide::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease-in-out;
    background-color: #1F473E; 
}

.underline-slide:hover::after {
  width: 100%;
}

.underline-white::after { background-color: #F1ECDC; }
.underline-black::after { background-color: #1F473E; }

.underline-slide-thick::after {
  height: 3px;
  bottom: -6px;
}

.icon-circle {
  @apply w-14 h-14 rounded-full border border-[#88998D] flex items-center justify-center cursor-pointer transition-all duration-300;
}

.icon-circle-light:hover {
  @apply scale-95 bg-white;
}

.icon-circle-light:hover svg {
  color: var(--west-bg-secondary);
}

.icon-circle-dark:hover {
  @apply scale-95 bg-(--west-bg-secondary);
}

.icon-circle-dark:hover svg {
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 4px;
}
